# Streamlit is an open-source Python library that makes it easy to create and share beautiful, 
# custom web apps for machine learning and data science.
streamlit

# Langchain is a Python library for language detection and translation using Google's Translation API.
langchain
